*{
  margin:0px; 
  padding:0px;
   box-sizing: border-box; 
   font-family: 'Roboto', sans-serif;
}
body{ background-color: #232323;
 } .heading 
    { width:90%; 
    display: flex;
     justify-content: center;
      align-items: center;
    flex-direction: column
    ; text-align: center;
     margin:20px auto; 
}         

.heading h1{
 font-size: 50px;
  color:#000;
   margin-bottom: 25px;
   position: relative;
}
 .heading P{
  font-size: 18px;
   color:#666;
    margin-bottom: 35px;
}
.container{
  width: 90%;
  margin:0 auto;
  padding:10px 20px;

}
